#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.darkLightMode {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}

.darkLightMode input {
  opacity: 0;
  width: 0;
  height: 0;
}
.onOffSliderRound {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 23px;
  display: flex;
  align-items: center;
  padding: 3px 6px;
}

.onOffSliderRound svg {
  width: 16px;
  height: 16px;
  position: absolute;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.onOffSliderRound .bi-brightness-high-fill {
  left: 6px;
  opacity: 1;
}

.onOffSliderRound .bi-moon-stars-fill {
  right: 6px;
  opacity: 0;
}

input:checked + .onOffSliderRound .bi-brightness-high-fill {
  opacity: 0;
}

input:checked + .onOffSliderRound .bi-moon-stars-fill {
  opacity: 1;
}