a {
  font-weight:bold;
  font-family: "Sofadi One", system-ui;
  text-decoration: inherit;
  color: var(--link-color) !important;
}
a:hover {
  color: var(--link-hover-color) !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Princess Sofia", cursive;
  font-weight: normal;
}

button {
  border-radius: 23px !important;
  padding: 0.6em 1.2em;
  font-size: 500em;
  font-weight: bold;
  font-family: "Sofadi One", system-ui !important;
  cursor: pointer;
  background-color: var(--buttonBackground-color) !important;
  color: var(--buttonText-color) !important;
}

.showMeLabel {
  padding-right: 10px;
  font-family: "Sofadi One", system-ui;
}

#result {
  font-family: "Sofadi One", system-ui;
}

.copyright {
  font-family: "Sofadi One", system-ui;
  padding-top: 30px;
}